<div data-ng-controller='modelcontent1controller as MCC1'>
    <div class="modal-header">
        <button type="button" class="close" data-ng-click='MCC1.closemodal()'>&times;</button>
        <h4 class="modal-title">Payment Information</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-6 col-sm-6">
            <div>
                <!--  feild name -->
                <span><b>Payment Type</b></span>
                <span class="asetrick"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
            </div>
            <!--  dropdown -->
             <div class="dropdown">
                <div id="divtext1">
                    <span>
                        <input type='text' placeholder='Select' name='myInput' data-ng-model="MCC1.newobject.paymentinfo" id='divtext1input'>
                        </span>
                    <button id='divtext1button' class="dropdown-toggle" data-toggle="dropdown">
                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </button>
                    <ul class="dropdown-menu overflow">
                        <input type="text" placeholder="Search" class="innersearchbarbig" data-ng-model="MCC1.newobject.paymentinfo">
                        <li data-ng-repeat="x in MCC1.Paymentdetails | filter:MCC1.newobject.paymentinfo" class="liclick">
                            <div data-ng-click='MCC1.PaymentData(x)'>{{x}}</div>
                        </li>
                    </ul>
                    <div>{{MCC1.errorMessage}}</div>
                </div>
            </div> 
        </div>
        <div class="col-md-6 col-sm-6">
            <div>
                <!-- feild name -->
                <span><b>Accounting Type</b></span>
                <span class="asetrick"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
            </div>
            <!-- dropdown -->
            <div class="dropdown">
                <div id="divtext2">
                    <span>
                        <input type='text' id='divtext2input' name="myInput1" placeholder='Select' data-ng-model="MCC1.newobject.accountfeildtext">
                        </span>
                    <button id='divtext2button' class="dropdown-toggle" data-toggle="dropdown"><span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </button>
                    <ul class="dropdown-menu">
                        <input type="text" placeholder="Search" class="innersearchbarbig">
                        <li data-ng-repeat="x in MCC1.accountdetails | filter:MCC1.newobject.accountfeildtext" class="liclick">
                        <div data-ng-click="MCC1.accountData(x.value);">{{x.value}}</div>
                        </li>
                    </ul>
                    <h4>{{MCC1.errorMessage}}</h4>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 seconddiv">
                <div>
                    <!-- feild name -->
                    <span><b>Frequency</b></span>
                    <span class="asetrick"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                </div>
                <!-- dropdown -->
                <div class="dropdown">
                    <div id="divtext3">
                        <span>
                            <input type='text' placeholder='Annually' name="myInput2" id='divtext3input' data-ng-model="MCC1.newobject.frequency">
                            </span>
                        <button id='divtext3button' class="dropdown-toggle" data-toggle="dropdown">
                            <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        </button>
                        <ul class="dropdown-menu">
                            <input type="text" placeholder="Search" class="innersearchbarsmall">
                            <li data-ng-repeat="x in MCC1.dropDownListData | filter:MCC1.newobject.frequency" class="liclick">
                                <div data-ng-click='MCC1.frequency(x)'>{{x}}</div>
                            </li>
                        </ul>
                        <h4>{{MCC1.errorMessage}}</h4>
                        <!-- <h5 class="errormessage" data-ng-if="MCC1.isChecked && !userform.myInput2.$valid">Please fill out this field</h5>-->
                    </div>
                </div> 
            </div>
            <div class="col-md-4 col-sm-4 thirddiv">
                <div>
                    <!-- feild name -->
                    <span><b>Period Start Date</b></span>
                    <span class="asetrick"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                </div>
                <!-- drop down -->
                 <div id='divtext4' data-provide="datepicker">
                    <span>
                        <input type='text' class='divtext4 inputform-control' data-ng-readonly="true" data-ng-model='MCC1.newobject.date' placeholder="mm/dd/yyyy" name="myInput3" style="border: none;">
                    </span>
                    <span class="fa fa-calendar-o calender-icon" aria-hidden="true">
                    </span>
                    <h4>{{MCC1.errorMessage}}</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3" id='thirddiv2'>
                <div>
                    <!-- feild name -->
                    <span><b>Payment Timing</b></span>
                    <span class="asetrick"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                </div>
                <!-- dropdown -->
                <div class="dropdown">
                    <div id="divtext5">
                        <span>
                            <input type='text' placeholder='Select' id='divtext5input' name="myInput4" data-ng-model='MCC1.newobject.paymentfieldtext' data-ng-required='true'></span>
                        <button id='divtext5button' class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <input type="text" placeholder="Search" class="innersearchbarsmall">
                            <li data-ng-repeat="x in MCC1.paymentTimingdetails | filter:MCC1.newobject.paymentfieldtext" class="liclick">
                                <div data-ng-click='MCC1.paymentTimmingData(x.value)'>{{x.value}}</div>
                            </li>
                        </ul>
                        <h4>{{MCC1.errorMessage}}</h4>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 fourthdiv" data-ng-if='MCC1.paymentdueOn'>
                <div>
                    <!-- feild name -->
                    <span><b>Payment Due On</b></span>
                    <span class="asetrick"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                </div>
                <!-- dropdown -->
                <div class="dropdown">
                    <div id="divtext5">
                        <span>
                            <input type='text' placeholder='Specific Day of Period' name='myInput5' data-ng-model='MCC1.newobject.PaymentDueon' id='divtext5input'>
                            </span>
                        <button id='divtext5button' class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                        </button>
                        <ul class="dropdown-menu">
                            <input type="text" placeholder="Search" class="innersearchbarsmall">
                            <li data-ng-repeat="y in MCC1.paymentdueondetails|filter:MCC1.newobject.PaymentDueon" class="liclick">
                                <div data-ng-click='MCC1.PayamentDueOn(y.value)'>{{y.value}}</div>
                            </li>
                        </ul>
                        <h4>{{MCC1.errorMessage}}</h4>
                    </div>
                </div> 
            </div>
            <div class="col-md-3 col-sm-3 fouthdiv2" data-ng-if='MCC1.paymentduedaY'>
                <div>
                    <!-- feild name -->
                    <span><b>Payment Due Day</b></span>
                    <span class="asetrick"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                </div>
                <!-- dropdown -->
                <div class="dropdown">
                    <div id="divtext6">
                        <span>
                            <input type='text' placeholder='Select' name="myInput6" data-ng-model='MCC1.newobject.paymentdueday' id='divtext6input'>
                            </span>
                        <button id='divtext5button' class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        </button>
                        <ul class="dropdown-menu overflow">
                            <input type="text" placeholder="Search" class="innersearchbarsmall">
                            <li data-ng-repeat="y in MCC1.paymentDueDay" class="liclick">
                                <div data-ng-click='MCC1.paymentDueData(y.value)'>{{y.value}}</div>
                            </li>
                        </ul>
                        <h4 data-ng-show='MCC1.errorMessage'>Please Fill Details</h4>
                    </div>
                </div> 
            </div>
            <div class="col-md-4 col-sm-4 fifthdiv">
                <div>
                    <!-- feild name -->
                    <span><b>Accounting Cost Center</b></span>
                </div>
                <div id="divtext7">
                    <span>
                        <input type='text' placeholder='0' id='divtext7input'></span>
                    <button id='divtext7button'>
                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <div id='checkbox'>
            <!-- check box -->
            <input type="checkbox">
            <span><b>Option Term Payment</b></span>
        </div>
        <div id='checkboxdiv'>
            <h5><b>Description</b></h5>
            <div id='descdiv'>
            </div>
        </div>
    </div>
</div>
