<!DOCTYPE html>
<html ng-app='myModalApp'>

<head>
    <title>Modal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body ng-controller='maincontroller as MNC'>
    <div class="container-fluid">
        <!--  main div -->
        <form class="row" id='mainrow' name='userform' novalidate MNC.ng-class="{'error':isChecked}">
            <!-- main table headings -->
            <div class="row mainrow">
                <div class="col-sm-12 col-md-12" id='tableheadingdiv'>
                    <span class="col-md-2 col-sm-2 tableheadingdiv-span"></span>
                    <span class="col-md-2 col-sm-2 tableheadingdiv-span"><strong>Frequency Type</strong></span>
                    <span class="col-md-2 col-sm-2 tableheadingdiv-span"><strong>Start Date</strong></span>
                    <span class="col-md-2 col-sm-2 tableheadingdiv-span"><strong>End Date</strong></span>
                    <span class="col-md-2 col-sm-2 tableheadingdiv-span"><strong>Total Cash With Tax</strong></span>
                    <span class="col-md-2 col-sm-2 tableheadingdiv-span"><strong>Actions</strong></span>
                </div>
                <!--  main table grouping -->
                <div class="row" id="mainrow" ng-repeat='x in MNC.totalDetails track by $index'>
                    <div class="col-md-12 col-sm-12" id='firsttable'>
                        <span class="col-md-2 col-sm-2">{{x.paymentinfo}}</span>
                        <span class="col-md-8 col-sm-8"></span>
                        <button ng-click='MNC.showingtable($index)' id='angledownbutton'>
                            <span class="col-md-2 col-sm-2" id='angledownicon'>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <table class="table" ng-show="MNC.showtable == $index">
                        <tbody>
                            <tr ng-repeat='y in x.details'>
                                <td class="col-md-2 col-sm-2">
                                    <span id='hourglassicon'>
                                    <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                                    </span>
                                </td>
                                <td class="col-md-2 col-sm-2">{{y.frequency}}</td>
                                <td class="col-md-2 col-sm-2">{{y.periodStartdate}}</td>
                                <td class="col-md-2 col-sm-2">10/11/2016</td>
                                <td class="col-md-2 col-sm-2">{{0.0}}</td>
                                <td class="col-md-2 col-sm-2">
                                    <button class="buttonclass" ng-click="MNC.fnEdit(x)"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></button>
                                    <button class="buttonclass" ng-click='MNC.fnDelete()'><span id='closeicon'><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <!-- Add button for adding data -->
        <div class="row " id='mainrow1'>
            <div class="col-md-12 col-sm-12" id='buttondiv'>
                <button id='button' ng-click="MNC.openModal()">
                    <span id='plus'><i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span id='add'>Add</span></button>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src='js/bootstrap.min.js'></script>
    <script type="text/javascript" src='js/angular.min.js'></script>
    <script type="text/javascript" src='js/ui-bootstrap-tpls-2.4.0.min.js'></script>
    <script type="text/javascript" src='js/bootstrap-datepicker.min.js'></script>
    <script type="text/javascript" src='js/maincontroller.js'></script>
    <script type="text/javascript" src='js/modalmaincontroller.js'></script>
    <script type="text/javascript" src='js/modalcontent1controller.js'></script>
    <script type="text/javascript" src='js/modalcontent2controller.js'></script>
    <script type="text/javascript" src='js/modalservice.js'></script>
    <script type="text/javascript" src='js/modalfactory.js'></script>
</body>

</html>
